::placeholder {
    font-size: 30px;
}

.result_container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.result_container_left,
.result_container_right {
    width:15%
}

.result_container_center {
    width: 70%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result_container_center_result {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result_container_center_result-image {
    width: 600px;
    height:400px;
    /* max-height: 500px; */
}

.result_container_center_info {
    width: 100%;
    height: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.result_container_center_info_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.result_container_center_info_form_text {
    width: 90%;
    height: 60%;
    text-align: center;
    font-size: 1.75em;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 20px 0px 0px 20px;
    border: none;

}

.result_container_center_info_form_button {
    width: 20%;
    height: 60%;
    font-size: 20px;
    color : rgba(255, 255, 255, 0.945);
    background-color: white;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 0px 20px 20px 0px;
    background: linear-gradient(-45deg, #FA3837 0%, #005f68 100%);
    border: none;
}

.result_container_center_buttons {
    width: 130%;
    height: 7%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.result_container_center_buttons > button {
    width: 20%;
    height: 100%;
    font-size: 30px;
    color : rgb(0, 0, 0, 0.6);
    
}

/* .result_container_center_images {
    margin-top: 20px;
    width: 100%;
    height: 40%;
    display: grid;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
	grid-template-rows: repeat(auto-fill, 1fr);
    gap: 2% 3%;
} */

.result_container_center_images > img {
    width: 100%;
    height: 100%;
    display: block;
}


@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');




.re_button:hover {
    letter-spacing: 1px;
    transform: scale(1.2);
    cursor: pointer;
}


.re_button:active {
    transform: scale(1.3);
}


.re_button-gra1 {
    background: linear-gradient(-45deg, #FA3837 0%, #003237 100%);
    color: white;
}

.re_button{
    margin-top: 200px;
    /* position: relative; */
    border: none;
    /* display: inline-block; */
    /* padding: 15px 30px; */
    border-radius: 15px;
    font-family: 'paybooc-Light', sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    transition: 0.25s;
}


