<!DOCTYPE html>
<html>
<body>
{% extends 'base.html' %} 
{% block title %} 결과 {% endblock %} 
{% block content%} 
{% load static %}
<link rel="stylesheet" href="{% static 'css/result.css' %}" />
<link rel="stylesheet" href="{% static 'css/main.css' %}" />
<div class="wrap">
<div id="upload_panel">
    <input type="file" class="ex_file w-btn w-btn-gra1" name="ex_file" onchange="fileUpload()" multiple />
</div>
<div id="result_panel" style="display:none;">
    <div class="result_container">
    <div class="result_container_left"></div>
    <div class="result_container_center">
        <div class="result_container_center_result">결과화면</div>
        <div class="result_container_center_result-image">
            <img id="result_image" src="http://t1.daumcdn.net/friends/prod/editor/dc8b3d02-a15a-4afa-a88b-989cf2a50476.jpg" />
        </div>
        <div class="result_container_center_info">
        <div class="result_container_center_info_form">
            <input type="text" id="image_subscription" name="image_name" class="result_container_center_info_form_text" placeholder='이미지에 대한 설명을 작성해주세요'/>
            <button type="button" onclick="image_subscription()" name="전시하기" class="result_container_center_info_form_button">제출하기</button>
        </div>
        </div>
        <div class="result_container_center_buttons">
            <button type="button" id='download'>저장하기</button>
            <button type="button" onClick="window.location.reload()">다시하기</button>
        </div>
        <div class="result_container_center_images">
            <img src="/static/img/logo drunk.jpg"/>
            <img src="/static/img/logo no hat.jpg"/>
            <img src="/static/img/logo.jpg"/>
            <img src="/static/img/logo no hat.jpg"/>
        </div>
    </div>
    <div class="result_container_right"></div>
</div>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/result.js' %}"></script>
{% endblock %}
</div>
</body>
</html>

